.DS_Store
.vscode
__pycache__

# saved checkpoints, data, tensorboard logs, policies, results, agent id
checkpoints/
videos/
logs/
policies/
results.json
agent_id.txt

# pyinstaller stuff
*.spec
build/
dist/