.DS_Store
.vscode
__pycache__

# saved checkpoints, data, tensorboard logs, policies, results, agent id
checkpoints/
videos/
logs/
policies/
*.json
agent_id.txt


# new stuff
data/
*.egg_info
lake_monster_js/dist/
.pytest_cache